.fc {
  width: 20vw;
  height: 15vw;
}


/* title */
.fc, .fc-header-toolbar, .fc-toolbar {
  margin: 0 !important;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-button {
  width: 0.5em;
  height: 0.5em;
}

.fc-icon {
  visibility: hidden;
}

#fc-dom-2, #fc-dom-1 {
  font-size: 1vw;
}


/* 주기 표시 */
.fc-event-title-container { 
  height: 0.3vw;
  background-color: #7e67ff;
}

.fc-h-event {
  border-style: none !important;
}

.fc-scrollgrid-sync-inner, .fc-daygrid-day-frame {
  height: 1.2vw;
}

.fc-daygrid-day-bottom {
  display: none;
}


/* 그리드 */
.fc-col-header-cell-cushion {
  font-size: 0.7vw;
}

.fc-daygrid-day-number {
  font-size: 0.7vw;
  padding: 0.2vw !important;
}

.fc-daygrid-day-top {
  height: 1.2vw;
}